    .header {
        font-family: Arial, Helvetica, sans-serif;
    }

    .header__logo {
        text-align: center;
    }

    .header__logo .header__img {
        max-width: 350px;
    }

    .header__menu {
        display: flex;
        justify-content: center;
        border-top: 1px solid #EAEAEB;
        border-bottom: 1px solid #EAEAEB;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 20px 0;
    }

    .header__menu .menu__list .menu__links {
        position: relative;
    }